{% extends "templates/layouts/default.html" %}

{% block content %}

    {# Iterate over content #}
    {% if not registrationSuccess %}
    {% for section in content %} 

        {% import "templates/layouts/section-" + section.template + ".html" as template %} 
        {{ template[section.macro](section.arguments) }}

    {% endfor %}
    {% endif %}
    
    <div class="container-fluid form-special">
        <div class="container">
            <div class="row">
                {% set class = ( "form-special-success" if registrationSuccess else "" ) %}
                <div class="col-sm-6 col-sm-offset-3 form-special-style {{class}}">
                    {% if registrationSuccess %}
                        <div style="" id="socialMessage">
                            <p>To finalise your registration, please help us spread the word of TEDxNYUAD on your social media sites! We would greatly appreciate your help in promoting our event.</p>

                            <p><a href="" id="facebook"><input type="button" class="btn btn-primary" style="width:100%" value="Share on Facebook"></a></p>

                            <p><a class="twitter"
                              href="https://twitter.com/share?text=I%20am%20attending%20TEDxNYUAD%202015!%20Are%20you%3F%20%40tedxnyuad&hashtags=TEDxNYUAD,NYUAD,AbuDhabi">
                                <input type="button" class="btn btn-primary" style="width:100%" value="Tweet your Registration">
                            </a></p>

                            <p>
                                <input type="button" class="no btn btn-primary" style="width:100%;background-color:#000000;color:#FFFFFF;" value="No thanks!">
                            </p>
                        </div>
                        <div style="" id="finalMessage">
                            <center><h2 class="has-success"><span class="glyphicon glyphicon-ok"></span></h2></center>
                            <p>Dear {{ guest }},</p>
                            <p>Thank you for registering your attendance to TEDxNYUAD’s {{ event }}! We're excited to receive you on the 19th of April 2015.</p>
                            <p>We are currently processing your registration and will send you your ticket shortly. Please bring it with you to the event either in digital form or as a paper copy</p>
                            <p>We look forward to having you!</p>
                            <p>Best,</p>
                            <p>TEDxNYUAD</p>
                        </div>
                    {% else %}
                        <div role="tabpanel" class="attend-form">

                            <!-- Nav tabs -->
                            <ul id="attend-tabs" class="nav nav-tabs" role="tablist">
                                <li><a href="#invitation" role="tab" data-toggle="tab">Live Event</a></li>                           
                                <li><a href="#streaming" role="tab" data-toggle="tab">Streaming Event</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="invitation">
                                    <br/>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form method="post">
                                            <input type="hidden" name="action" value="registerInvitation">
                                            <input type="hidden" name="going" value="true">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p><b>Note:</b> The live event is by invitation only.</p>
                                                </div>
                                            </div>
                                                
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p>To accept your invitation, please fill in your name and the invitation code exactly as stated in your invitation letter. Note that both fields are case-sensitive.</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    {% set class = ( "has-error" if validationErrors.mismatch else "" ) %}
                                                    <div class="form-group {{ class }}">
                                                        <input type="text" name="guestName" value="{{ formData["guestName"] }}" placeholder="Guest Name" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    {% set class = ( "has-error" if validationErrors.mismatch else "" ) %}
                                                    <div class="form-group {{ class }}">
                                                        <input type="text" name="invitationCode" value="{{ formData["invitationCode"] }}" placeholder="Invitation Code" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                                
                                            {% set class = ( "has-error-checkbox" if validationErrors.termsInvitation else "" ) %}
                                            <div class="checkbox {{class}}">
                                                <label>
                                                    <input type="checkbox" value="true" name="termsInvitation" {{ 'checked' if formData["termsInvitation"] else '' }}>
                                                    <p>I agree to the TEDxNYUAD <a href="/terms">terms and conditions</a></p>
                                                </label>
                                            </div>    
                                                
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary">Next</button>
                                                {% if validationErrors.invitationAccepted and formData["action"] == "registerInvitation" %}
                                                    <p class="has-error-message">You have already accepted the invitation.</p>
                                                {% elif validationErrors.flagInvitation and formData["action"] == "registerInvitation" %}
                                                    <p class="has-error-message">The entered name and/or code is invalid.</p>
                                                {% endif %}
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="streaming">
                                    <br/>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form method="post">
                                                <input type="hidden" name="action" value="register">
                                                <input type="hidden" name="streaming" value="true">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p><b>Note: </b>The streaming event is not the same as the live event.</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        {% set class = ( "has-error" if validationErrors.name else "" ) %}
                                                        <div class="form-group {{ class }}">
                                                            <input type="text" name="name.first" value="{{ formData["name.first"] }}" placeholder="First Name" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        {% set class = ( "has-error" if validationErrors.name else "" ) %}
                                                        <div class="form-group {{ class }}">
                                                            <input type="text" name="name.last" value="{{ formData["name.last"] }}" placeholder="Last Name" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        {% set class = ( "has-error" if validationErrors.email else "" ) %}
                                                        <div class="form-group {{ class }}">
                                                            <input type="email" name="email" value="{{ formData.email }}" placeholder="Email" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">    
                                                    <div class="col-sm-12">
                                                        {% set class = ( "has-error" if validationErrors.phone else "" ) %}
                                                        <div class="form-group {{ class }}">
                                                            <input name="phone" value="{{ formData.phone }}" placeholder="UAE Phone Number" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <br/>

                                                <div class="row"> 
                                                    <div class="affiliation-specific col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-12">

                                                                <p>Please let us know if you are affiliated with New York University Abu Dhabi.</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                            <select class="form-control" name="affiliation">
                                                                <option value="public" {{ 'selected' if public else '' }}>I'm not affiliated</option>
                                                                <option value="faculty" {{ 'selected' if faculty else '' }}>Faculty</option>
                                                                <option value="staff" {{ 'selected' if staff else '' }}>Staff</option>
                                                                <option value="student" {{ 'selected' if student else '' }}>Student</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br/>

                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="true" name="raffle">
                                                        <p>I would like to sign-up for the ticket raffle as well <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="The ticket raffle is your chance of securing a ticket for the live event. Tick this box in case you want to put your name in the raffle, winners will be contacted directly. For more information, see the FAQ." aria-hidden="true"></span></p>
                                                    </label>
                                                </div>

                                                {% set class = ( "has-error-checkbox" if validationErrors.termsRegister else "" ) %}
                                                <div class="checkbox {{class}}">
                                                    <label>
                                                        <input type="checkbox" value="true" name="termsRegister" {{ 'checked' if formData["termsRegister"] else '' }}>
                                                        <p>I agree to the TEDxNYUAD <a href="/terms">terms and conditions</a></p>
                                                    </label>
                                                </div>

                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-primary">Next</button>
                                                    {% if validationErrors.flagRegister %}
                                                        {% if validationErrors.emailExists %}
                                                            <p class="has-error-message">You have already signed up.</p>
                                                        {% elif validationErrors.emailNYU %}
                                                            <p class="has-error-message">As an NYU affiliated, please enter your NYU email.</p>
                                                        {% else %}
                                                            <p class="has-error-message">Please fill in all the fields correctly.</p>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/js/require.js"></script>
    <script>
      $('.twitter').click(function(event) {
        var width  = 575,
            height = 400,
            left   = ($(window).width()  - width)  / 2,
            top    = ($(window).height() - height) / 2,
            url    = this.href,
            opts   = 'status=1' +
                     ',width='  + width  +
                     ',height=' + height +
                     ',top='    + top    +
                     ',left='   + left;

        window.open(url, 'twitter', opts);

        return false;
      });
</script>
<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '851815751558723',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}