{% extends "templates/layouts/default.html" %}

{% block content %}
	<div class="container contact">
        <h3>Contact Us</h3>
        <div class="row">
            <div class="col-sm-6">
                <form method="post">
                    <input type="hidden" name="action" value="contact">

                    <div class="row">
                        <div class="col-sm-6">
                            {% set class = ( "has-error" if validationErrors.name else "" ) %}
                            <div class="form-group {{ class }}">
                                <input type="text" name="name.full" value="{{ formData["name.full"] }}" placeholder="Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            {% set class = ( "has-error" if validationErrors.email else "" ) %}
                            <div class="form-group {{ class }}">
                                <input type="email" name="email" value="{{ formData.email }}" placeholder="Email" class="form-control">
                            </div>
                        </div>
                    </div>

                    {% set class = ( "has-error" if validationErrors.message else "" ) %}
                    <div class="form-group {{ class }}">
                        <textarea name="message" placeholder="Leave us a message..." rows="6" class="form-control">{{ formData.message }}</textarea>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
	</div>

    <div class="container standard">
        <div class="row">
            <div class="col-xs-12">
                <h3>Frequently Asked Questions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>When will TEDxNYUAD 2015 take place?</h5><p>The event will take place on Sunday the 19th of April, 2015 at 6pm.</p>
                <h5>Where will it happen?</h5><p>TEDxNYUAD’s main live event is taking place in the Conference Center in A6C building at NYUAD’s Saadiyat Campus. We will also be hosting additional live-stream viewing parties in the East and West forum at NYUAD’s Saadiyat Campus.
</p>
                <h5>What is the difference between the main live event and the live streaming events?
</h5><p>The main live event will be where all the 12 speakers will be giving their talks to a selected audience of 100 members. This event will also be concurrently live streamed to two additional locations at NYUAD’s Saadiyat Campus for the general public and other NYUAD students, faculty and staff to watch.</p>
                <h5>Why is there only 100 people invited to the main live event?
</h5><p>According to TEDx rules, the live event cannot have more than 100 audience members and therefore the event will be by invitation only. Invitees will be a selection of prominent personalities from our community.</p>
                <h5>Why are there three locations?
</h5><p>However, we want to provide the opportunity for members of NYUAD as well as Abu Dhabi community to be able to watch the event and so we have designated two live-stream viewing events (also limited to 100 audience members each) that will take place in East and West forum in Campus Center on NYUAD Saadiyat Campus.</p>
                <h5>How can I secure a ticket to the event(s)?
</h5><p>We will be releasing more information about how to attend TEDxNYUAD. Please stay tuned by following us on Twitter and Facebook.</p><p>There will be three events happening simultaneously on NYUAD Saadiyat Campus and three ways to secure your ticket:</p>
                <p>1) By Invitation<br/>
In order to attend the live event, you will need to have received an invitation in the mail as well as an email. You need to RSVP [insert hyperlink] in order to secure your ticket. You will then be enlisted in our system and can attend the event on the day.</p>
                <p>2) By winning a VIP ticket<br/>
We have also reserved additional VIP tickets for the main live event for the public and the NYUAD community to win. All you need to do is enter the raffle [insert sign raffle sign up sheet hyperlink] in order to watch the event live! </p>
                <p>3) By RSVP to live streaming events<br/>
There will be 2 live-stream viewing events of TEDxNYUAD both held at NYUAD’s Saadiyat Campus in the East and West forums. You can RSVP [insert RSVP hyperlink] to these viewing events as an NYUAD student, staff or faculty, or as general public.</p>
                
            </div>
        </div>
    </div>

{% endblock %}
