{% extends "templates/layouts/default.html" %}

{% block content %}
    <div class="container standard">
        <div class="row"> 
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="no-margin-top">Attend the Event</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p>We are currently working hard to finalise the event details. If you are interested in attending TEDxNYUAD 2015, please subscribe to our mailing list and we will get back to you with more information as soon as possible. We hope that you are just as excited as we are!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 newsletter">
                <form method="post">
                    <input type="hidden" name="action" value="newsletter">
                    <div class="row">
                        <div class="col-sm-6">
                            {% set class = ( "has-error" if validationErrors.firstName else "" ) %}
                            <div class="form-group {{class}}">
                                <input type="text" name="firstName" value="{{ formData.firstName }}" class="form-control" placeholder="First Name" {{ 'disabled' if newsletterSignup else '' }}></input>
                            </div>
                        </div>
                    
                        <div class="col-sm-6">
                            {% set class = ( "has-error" if validationErrors.lastName else "" ) %}
                            <div class="form-group {{class}}">
                                <input type="text" name="lastName" value="{{ formData.lastName }}" class="form-control " placeholder="Last Name" {{ 'disabled' if newsletterSignup else '' }}></input>
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-sm-6">
                            {% set class = ( "has-error" if validationErrors.email else "" ) %}                    
                            <div class="form-group {{class}}">
                                <input type="email" name="email" value="{{ formData.email }}" class="form-control " placeholder="Add your email to our newsletter" {{ 'disabled' if newsletterSignup else '' }}></input>
                            </div>
                        </div>
            
                        <div class="col-sm-6">
                            <div class="form-group">
                                {% if newsletterSignup %}
                                    <button type="submit" class="btn btn-primary btn-primary-green" disabled>Thanks</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary">Subscribe</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    {# Iterate over content #}
    {% for section in content %} 

        {% import "templates/layouts/section-" + section.template + ".html" as template %} 
        {{ template[section.macro](section.arguments) }}

    {% endfor %}


{% endblock %}