{% extends "templates/layouts/default.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-12 border-right">
                {# Modified from macro blogPost in blog.html #}
                <div class="post clearfix post-last">
                    <div class="post-wrapper-left hidden-xs">
                        <div class="post-date">
                            <div class="date">
                                <div class="day">{{post.published.day}}</div>
                                <div class="month">{{post.published.month}} {{post.published.year}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="post-wrapper-right">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{post.title}}</h3>
                                <p class="visible-xs tag">Published: {{post.published.day}} {{post.published.month}} {{post.published.year}}</p>
                                {# Sharing of post #}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {{post.text}}
                            </div>
                        </div>
                    </div>
                </div>
                {# snippet end #}
            </div>
            <div class="col-sm-3 hidden-xs">
                <div class="blog-sidebar">
                    <h3>Blog Updates</h3>
                    <ul>
                    {% for post in content.posts %}
                        <li><a href="/blog/{{post.slug}}">{{post.title}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}