        <div id="header">
            {# Customise your site"s navigation by changing the navLinks Array in ./routes/middleware.js
               ... or completely change this header to suit your design. #}
            <div role="navigation" class="navbar">
                <div class="container-fluid navbar-logo hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-5">
                                <a href="/"><img src="../images/logo.png" height="60px"></a>
                            </div>
                            <div class="col-xs-7">
                                <div class="float-container">
                                    <p class="tag text-right">Sunday 10th April, 2016</br>New York University Abu Dhabi</br>Saadiyat Island, Abu Dhabi</p>
                                    <a href="/attend" title="Attend the event!"><button class="btn btn-primary btn-right">Attend</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container-fluid">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="visible-xs">
                                <a href="/"><img src="images/logo.png" height="40px"></a>
                            </div>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-left">
                                    {% for link in navLinks %}
                                        <li class="{{ 'active' if link.key == section else '' }}">
                                            <a href="{{ link.href }}">{{ link.label }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <div class="half-border"></div>
                                    {% for link in navRight %}
                                        {% if link.label %}
                                        <li class="{{ 'active' if link.key == section else '' }}">
                                            <a href="{{ link.href }}">{{ link.label }}</a>
                                        </li>
                                        {% else %}
                                            {% if link.setting=="Twitter" %}
                                                <li class="icon hidden-xs"><a href="https://www.facebook.com/TEDxNYUAD?fref=website" target="_blank"><span class="icon-facebook-circled"></span></a></li>
                                            {% elif link.setting=="Facebook" %}
                                                <li class="icon hidden-xs"><a href="https://twitter.com/@tedxnyuad" target="_blank"><span class="icon-twitter-bird"></span></a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>