{# This is the standard section.
   @Frederik 29/01/15 #}

{# The standard macro requires the following attributes to be set:

   content.title    The title.
   content.text     The text to be displayed. Takes html-formatting. #}

{% macro standard(content) %}
    <div class="container standard">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ content.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ content.text }}
            </div>
        </div>
    </div>
{% endmacro %}



{# The standard macro requires the following attributes to be set:

   content.title    The title.
   content.text     The text to be displayed. Takes html-formatting. 
   content.src      The image link. #}

{% macro image(content) %}
    <div class="container standard">
        <div class="row"> 
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ content.title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ content.text }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <a href="{{content.src}}"><img class="img-responsive" src="{{ content.src }}"></a>
            </div>
        </div>
    </div>
{% endmacro %}



{# The ethos macro requires the following attributes to be set:

   content.title        The title.
   content.text         The text to be displayed. Takes html-formatting.
   content.names        An array of the signing names.
        .name           The name.
        .signature      An array of the signatures corresponding 
                        to the position in content.names 
        .height         The height of the signature, typically range
                        60-90px.
        .margin-left    Left margin for signature.

   -----LIMITATION-----
   Currently max 2 signatures can be displayed 
   at once. #}


{% macro ethos(content) %}
    <div class="container standard">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ content.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ content.text }}
            </div>
        </div>
        <div class="row">
            {% for name in content.names %}
                <div class="col-xs-6 col-xs-offset-1 col-sm-offset-0 col-sm-3 col-md-2 col-lg-2">
                    <div class="row">
                        <div class="col-xs-12 signature">
                            <img src="{{ name.signature }}" height="{{ name.height if name.height else '70px'}}" {{'style="margin-left:'+name.marginLeft+'";' if name.marginLeft else ''}}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row signature-name">
                                <p>{{ name.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs col-sm-3 col-md-2 col-lg-1"></div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}



{# The standard macro requires the following attributes to be set:

   content.title    The title.
   content.text     The text to be displayed. Takes html-formatting.#}

{% macro newsletter(content) %}
    <div class="container standard">
        <div class="row"> 
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="no-margin-top">{{ content.title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ content.text }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 newsletter">
                <form method="post">
                    <input type="hidden" name="action" value="newsletter">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="firstName" value="{{ content.formData.firstName }}" class="form-control" placeholder="First Name" {{ 'disabled' if newsletterSignup else '' }}></input>
                            </div>
                        </div>
                    
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="lastName" value="{{ content.formData.lastName }}" class="form-control" placeholder="Last Name" {{ 'disabled' if newsletterSignup else '' }}></input>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" name="email" value="{{ content.formData.email }}" class="form-control" placeholder="Add your email to our newsletter" {{ 'disabled' if newsletterSignup else '' }}></input>
                    </div>
                    <div class="form-group">
                        {% if newsletterSignup %}
                            <button type="submit" class="btn btn-primary btn-primary-green" disabled>Thanks</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}

{# The partners macro requires the following attributes to be set:

   content.title    The title.
   content.text     The text to be displayed. Takes html-formatting. #}

{% macro logodisplay(content) %}
    <div class="container standard">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ content.title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ content.text}}
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-xs-4">
                        <img class="img-responsive" src="{{content.partners[0].logo}}" alt="{{content.partners[0].name}}" />
                    </div>
                    <div class="col-xs-4">
                        <img class="img-responsive" src="{{content.partners[1].logo}}" alt="{{content.partners[1].name}}" style="margin-top:28%;"/>
                    </div>
                </div>
            </div>
        </div>
        {%if content.arrangement.length > 0 %}
            {% for partnerrow in content.arrangement%}
            <div class="row">
                {% for partner in partnerrow %}
                    <div class="col-sm-{{12 / partnerrow}}">
                        <img src="{{content.partners[partner].logo}}" alt="{{content.partners[partner].name}}" />
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro maps(content) %}
    <div class="container standard">
        <div class="row"> 
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ content.title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ content.text }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <iframe width="600" height="450" frameborder="0" style="border:0;height: 350px;max-width: 100%;"
    src="https://www.google.com/maps/embed/v1/place?q=NYU%20Abu%20Dhabi%20Saadiyat&key={{content.apiKey}}&zoom=13"></iframe>
            </div>
        </div>
    </div>
{% endmacro %}