{# This is the standard section.
   @Frederik 25/01/15 #}

{# The standard macro requires the following attributes to be set:

   content.title    The title.
   content.text     The text to be displayed. Takes html-formatting. #}

{% macro standard(content) %}
    <div class="container standard">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ content.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ content.text }}
            </div>
        </div>
    </div>
{% endmacro %}