{# This is the standard section.
   @Frederik 25/01/15 #}

{# Include the js requirement #}


{# The standard macro requires the following attributes to be set:

   content.title    The title.
   content.text     The text to be displayed. Takes html-formatting. #}

{# Data Model
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
    arguments: { speakers:[{name:'Frederik Jensen',
                            id:1,
                            srcScreen:'screen_image.jpg',
                            srcThumb:'thumb_image.jpg',
                            topic:'Teaching the Nation',
                            text:'<p>Most of us have heard of ‘TED Talks’, these awe-inspiring, sheer ingenuous and empowering talks that revolve around the theme of innovation, change and, simply said, thinking a little differently. TED has become a global phenomenon because it provides a platform for people to share their ideas and stories. What is truly resonating about TED itself, is the fact that anyone could be a TED speaker. Everyone has a story worth telling, and this year, NYUAD will bring these stories to Abu Dhabi.</p>'
                          }]
               }
#}

{# To lazy load images: http://stackoverflow.com/questions/16379556/onclick-thumbnails-load-image #}

{% macro standard(content) %}
    <div class="container-fluid speakers">
        <div id="speakers-image">{# speakers.js manipulates the DOM here to include the speaker's image #}</div>

        <div class="container">
            <div class="row">
                <div id="speakers-menu" class="col-lg-4">
                    {% for speaker in content.speakers %}
                        <div class="row">
                            <div class="col-lg-12">
                                <a id="speaker-{{speaker.id}}" href="#{{ speaker.id }}" data-toggle="tooltip" title="{{speaker.name + '  – '+speaker.topic}}"><img src="{{ speaker.srcThumb }}" class="img-circle" width="35px" height="35px"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div id="speakers-overview">
                <div class="row">
                    
                    <div class="col-xs-12 center-block" style="float:none;">
                        <div class="row">
                        {% for speaker in content.speakers %}
                            <div class="col-xs-4 text-center">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a id="speaker-{{speaker.id}}" href="#{{ speaker.id }}"><img src="{{ speaker.srcThumb }}" class="img-circle" width="120px" height="120px"></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4>{{ speaker.name }}</h4><p>{{ speaker.topic }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div id="speakers-presentation">
                <div class="row">
                    <div id="speakers-presentation-content" class="col-sm-offset-6 col-sm-6">{# speakers.js adds speaker content here #}</div>
                </div>
            </div>
            
        </div>
    </div>
{% endmacro %}