{# This is the section which calls upon attention from the user.
   It is implemented by including "templates/layouts/section-focus.html"
   as seen currently in the index.html view. 
   
   @Frederik 04/01/15 #}

<div class="container-fluid focus">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Question</h2>
                </div>
                <div class="col-md-8 separator">
                    <p>This is the theme. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue placerat neque vel dapibus. Nulla at metus dignissim, pretium tortor a, volutpat orci.Euismod, nisl sagittis eleifend sodales, erat quam ultricies justo, id porttitor massa est a neque. Curabitur eget sagittis euismod, nisl sagittis eleifend sodalet.</p>
                </div>
            </div>
        </div>
    </div>
</div>