{# This is the section which calls upon attention from the user. 
   @Frederik 25/01/15 #}

{# The standard macro requires the following attributes to be set:

   content.posts        The attribute which holds an array of posts in t
                        the format [{post-1}, {post-2}, ..., {post-N}].
   content.posts.post   The post information which is required with
                        more than one post present.
        post.title      The post title.
        post.comments   The number of comments.
        post.published  The publish date of the post.
        post.src        The link to the thumbnail. 

   content.posts.post   The post information required with one post
                        only.
        post.title      The post title.
        post.text       The post text. This text will be cut off at 
                        a word near the 900th character. #}

{% macro standard(content) %}
    <div class="container blog">
        
        {# If there is only one post, then do not display an overview,
           but some of the post instead. #}
        
        {% if content.posts | length > 1 %}
            <div class="row">
                <div class="col-xs-12">
                    <h3>Latest Posts from the Organizers</h3>
                </div>
            </div>
            <div class="row">
                {% for post in content.posts %}
                    {% if loop.index0 < 2 %}
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4><a href="/blog/{{post.slug}}">{{ post.title }}</a></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <img width="100%" src=" {{ post.src }}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                </div>
                                <div class="col-xs-6">
                                    <p class="tag text-right">{{ post.published.day }}-{{ post.published.month }}-{{ post.published.year }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{ content.posts[0].title }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ content.posts[0].text|truncate(495,False) }} <a href="/blog/{{ content.posts[0].slug }}">Read more &rarr;</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}